<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" /> 
  <meta name="apple-mobile-web-app-capable" content="yes" /> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
  <meta name="mip-format-detection" content="telephone=no" /> 
  <meta name="full-screen" content="yes" /> 
  <meta name="x5-fullscreen" content="true" /> 
  <link rel="stylesheet" href="../addons/qt_shop/template/wxapp/css/css.css" type="text/css" />
  <script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
 </head>
 <body>
  <header class="header">
  	<a href="javascript:wx.miniProgram.navigateBack({delta: 1});">
  	<img src="../addons/qt_shop/template/wxapp/images/back.png"/>
  	<span>帮助与指南</span>
  	</a>
  </header>
	 <div class="box_station"></div>
   <div class="width">
     <div id="slideBox" class="slideBox">
     </div>
    {if !empty($data)}
     <div class="nav">
      <div class="fl kuai">
       <a href="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=helpmsg&m=qt_shop&id={$data[0]['id']}">
        <img src="../addons/qt_shop/template/wxapp/images/icon_01.png" />{$data[0]["label"]}</a>
      </div>
      <ul class="clearfix fr">
       <li class="fl xsbk"><a href="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=helpmsg&m=qt_shop&id={$data[1]['id']}">
        <img src="../addons/qt_shop/template/wxapp/images/icon_02.png" />{$data[1]["label"]}</a></li>
       <li class="fl gsjj"><a href="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=helpmsg&m=qt_shop&id={$data[2]['id']}">
        <img src="../addons/qt_shop/template/wxapp/images/icon_03.png" />{$data[2]["label"]}</a></li>
       <li class="fl jyfx"><a href="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=helpmsg&m=qt_shop&id={$data[3]['id']}">
        <img src="../addons/qt_shop/template/wxapp/images/icon_04.png" />{$data[3]["label"]}</a></li>
       <li class="fl spjc"><a href="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=helpmsg&m=qt_shop&id={$data[4]['id']}">
        <img src="../addons/qt_shop/template/wxapp/images/icon_05.png" />{$data[4]["label"]}</a></li>
      </ul>
     </div>
     <div class="hui_height" style="height: 10px;background: #f6f6f6"></div>
     {/if}
     <div class="content">
       <h1 class="recom_h1">精选推荐</h1>
       <p class="xi_line"></p>
      {loop $list $item}
        {if $item['picture']!=""}
        <div class="item2 clearfix">
         <a href="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=helpmsg&m=qt_shop&id={$item['id']}">
          <div class="item2_zuo fl">
           <div class="item2_title clearfix">
            {if $item["label"]!=""}
            <span class="stick fl">{$item["label"]}</span>
            {/if}
            <p class="fl">&nbsp;{$item["title"]}</p>
           </div>
           <p class="item2_dec">{$item["remark"]}</p>
           <div class="item2_info clearfix">
            <span class="fl"><?php echo date("Y-m-d H:i:s",$item["created_at"]);?></span>
            <!--<span class="fr  zan" style="margin-left: 3%"> <i>49</i> </span>
            <span class="fr comment"> <i>999+</i> </span>-->
           </div>
          </div>
           <div class="item2_you fr">
            <ul class="item2_img">
             <li><img src="{$item['picture']}"></li>
            </ul>
           </div>
          </a>
         </div>
        {else}
         <div class="item">
          <a href="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=helpmsg&m=qt_shop&id={$item['id']}">
           <div class="item_title clearfix">
            {if $item["label"]!=""}
            <span class="stick fl">{$item["label"]}</span>
            {/if}
            <p class="fl">&nbsp;{$item["title"]}</p>
           </div> <p class="item_dec" style="height: 36px;">{$item["remark"]}</p>
           <div class="item_info clearfix">
            <span class="fl"><?php echo date("Y-m-d H:i:s",$item["created_at"]);?></span>
           </div> </a>
         </div>
        {/if}
      {/loop}
     </div>
  </div>
   {php echo register_jssdk(false);}
   <script>
       wx.ready(function () {
           sharedata = {
               title: "{$data['title']}",
               desc: '{$data["remark"]}',
               link: '{$_W["siteurl"]}',
               imgUrl: '{$data["picture"]}',
               success: function(){
                   //alert('success');
               },
               cancel: function(){
                   //alert('cancel');
               }
           };
           wx.onMenuShareAppMessage(sharedata);
           wx.onMenuShareTimeline(sharedata);
       });
   </script>
 </body>
</html>