<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>首页</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" /> 
  <meta name="apple-mobile-web-app-capable" content="yes" /> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
  <meta name="mip-format-detection" content="telephone=no" /> 
  <meta name="full-screen" content="yes" /> 
  <meta name="x5-fullscreen" content="true" /> 
  <link rel="stylesheet" href="css/css.css" type="text/css" /> 
 </head> 
 <body> 
  <div class="width"> 
   <div id="slideBox" class="slideBox"> 
    <div class="bd"> 
     <ul> 
      <li> <img src="http://img.gaoyong666.com/schoolcate/2018-07-09-1531124562.png" /> </li> 
      <li> <img src="http://img.gaoyong666.com/schoolcate/2018-06-25-1529891798.png" /> </li> 
      <li> <img src="http://img.gaoyong666.com/schoolcate/2018-07-09-1531124562.png" /> </li> 
      <li> <img src="http://img.gaoyong666.com/schoolcate/2018-06-25-1529891798.png" /> </li> 
     </ul> 
    </div> 
    <div class="hd"> 
     <ul class="right-jc"></ul> 
    </div> 
   </div> 
   <div class="nav"> 
    <div class="fl kuai"> 
     <a href="details.html"><img src="images/icon_01.png" />平台规则</a> 
    </div> 
    <ul class="clearfix fr"> 
     <li class="fl xsbk"><a href="details.html"> <img src="images/icon_02.png" />新手必看</a></li> 
     <li class="fl gsjj"><a href="details.html"> <img src="images/icon_03.png" />高手进阶</a></li> 
     <li class="fl jyfx"><a href="details.html"> <img src="images/icon_04.png" />经验分享</a></li> 
     <li class="fl spjc"><a href="details.html"> <img src="images/icon_05.png" />视频教程</a></li> 
    </ul> 
   </div> 
   <div class="hui_height" style="height: 10px;background: #f6f6f6"></div> 
   <div class="content"> 
    <h1 class="recom_h1">精选推荐</h1> 
    <p class="xi_line"></p> 
    <div class="item"> 
     <a href="details.html" style="display: block;"> 
      <div class="wrapper"> 
       <div class="js-video"> 
        <video class="js-media" poster="http://img.gaoyong666.com/temp/2018-07-10-1531189359811543.jpg"> 
         <source src="http://img.gaoyong666.com/temp/2018-07-10-153118935795614.mp4" type="video/mp4"></source> 
         <p> 你的浏览器不支持 HTML5 Video。 </p> 
        </video> 
        <div class="zy_title" style=" "> 
         <span class="stick2 fl" style="margin-left: 1%;">置顶</span> 
         <i>&nbsp;高佣联盟APP介绍</i> 
        </div> 
        <i class="playPause fa fa-play ui-icon"> <img src="images/school_icon_videoplaying.png" /> </i> 
        <!-- ui --> 
        <i data-fullscreen="" class="fullscreen iconicfill-fullscreen" title="fullscreen"> </i> 
       </div> 
       <!-- js-video --> 
      </div> 
      <div class="item_info clearfix"> 
       <span class="fl"> 高佣讲师 </span> 
       <span class="fr  zan" style="margin-left: 3%"> 128 </span> 
       <span class="fr  comment"> 999+ </span> 
      </div> </a> 
    </div> 
    <div class="item2 clearfix"> 
     <a href="details.html"> 
      <div class="item2_zuo fl"> 
       <div class="item2_title clearfix"> 
        <span class="stick fl">置顶</span> 
        <p class="fl">&nbsp;新人学习指南</p> 
       </div> 
       <p class="item2_dec">新人必看！新人学习指南</p> 
       <div class="item2_info clearfix"> 
        <span class="fl">高佣讲师</span> 
        <span class="fr  zan" style="margin-left: 3%"> <i>49</i> </span> 
        <span class="fr comment"> <i>999+</i> </span> 
       </div> 
      </div> 
      <div class="item2_you fr"> 
       <ul class="item2_img"> 
        <li><img src="http://img.gaoyong666.com/temp/2018-07-07-1530947874469477.jpg" /></li> 
       </ul> 
      </div> </a> 
    </div> 
    <div class="item"> 
     <a href="details.html"> 
      <div class="item_title clearfix"> 
       <span class="stick2 fl">置顶</span> 
       <p class="fl">&nbsp;关于高佣联盟，你想知道的，都在！！~</p> 
      </div> <p class="item_dec" style="height: 36px;">高佣联盟平台优势 高佣联盟是业界的NO.1 1、高佣联盟是国内唯一一个与各大火爆电商平台同时合作的专业推广者平台 2、高佣联盟独有的、被称为首创黑科技的云发单功能，代替了人工发单 3、高佣联盟在同类app中做到了代理商的最大的福利政策（全套地推物料免费供应，免费海外游，免费线上线下商学院培训等等） 4、高佣联盟拥有海量商家资源，无缝切换各个电商平台特价商品</p> 
      <div class="item_info clearfix"> 
       <span class="fl">高佣讲师</span> 
       <span class="fr zan" style="margin-left: 3%"><i>55</i></span> 
       <span class="fr comment"><i>999+</i></span> 
      </div> </a> 
    </div> 
    <div class="item"> 
     <a href="details.html"> 
      <div class="item_title clearfix"> 
       <span class="stick2 fl">置顶</span> 
       <p class="fl">&nbsp;高佣联盟云发单功能详解</p> 
      </div> <p class="item_dec">时光倒退！各位朋友！ 高佣联盟免费发单功能马上开放 首批公测名额有限！ 只要是你的群，你的群满60人 高佣联盟就可以每天为你创造收入 免费机器人发单，不封号，不用电脑，不用手机 目前公司定下的规则，免费发单机器人： 总监的老板，首批开放，最多支持10个群</p> 
      <ul class="item_img"> 
       <li><img src="http://img.gaoyong666.com/temp/2018-07-08-1530982088439327.jpg" /></li> 
       <li><img src="http://img.gaoyong666.com/temp/2018-07-08-1530982088806860.jpg" /></li> 
       <li><img src="http://img.gaoyong666.com/temp/2018-07-08-1530982089105166.jpg" /></li> 
      </ul> 
      <div class="item_info clearfix"> 
       <span class="fl">高佣讲师</span> 
       <span class="fr zan" style="margin-left: 3%"><i>20</i></span> 
       <span class="fr comment"><i>999+</i></span> 
      </div> </a> 
    </div> 
   </div> 
  </div>  
  <script src="js/TouchSlide.1.1.js"></script>
  <script type="text/javascript">
			TouchSlide({
				slideCell: "#slideBox",
				titCell: ".hd ul",
				mainCell: ".bd ul",
				effect: "leftLoop",
				autoPage: true,
				autoPlay: true,
			});
		</script>
 </body>
</html>